<div class="container">
  <div class="row">
    <img src="assets/images/jo.jpg" alt="Medals Image" class="w-64 mb-4">
  </div>
  <div class="row relative text-white h-screen flex items-center justify-center bg-cover bg-center col-sm-12">
    <div class="bg-black bg-opacity-50 p-8 rounded-lg max-w-3xl w-full text-center flex flex-col items-center">
      <h1 class="text-2xl font-bold">Medals per Countries</h1>
      <p style="text-align: center;">Discover the statistics and performances of the nations</p>
      <div class="p-info">
        <p class="col-sm-4">Number of Participations: {{ maxParticipations }}</p>
        <p class="col-sm-4">Number of Countries: {{ allCountries }}</p>
      </div>
      <app-chart class="col-sm-12"></app-chart>
    </div>
  </div>
</div>